body {
  background: black;
  display: grid;
  justify-items: center;
}

/* container for hikido and items */
.oshiire-container {
  position: relative;
  width: 860px;
  height: 700px;
  overflow: hidden;
}

/* hikido image */
.hikido {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('hikido.png'); /* use an image as ui, not contents*/
  z-index: 1;
  transition: transform 0.3s ease-out; /* smooth sliding animation */
}

/* items image when door opens */
.background {
  display: grid;
  justify-items: center;

  width: 100%;
  height: 100%;
  background-image: url('oshiire-background.png');
  z-index: 0;           /* behind hikido */
}

.item {
  width: 140px;
  height: 140px;
}